In [69]:
#cd '/Users/roblescoulter/Dev/MCMC'
import pandas as pd
import re

In [70]:
weatherTP = pd.read_csv("weatherTaipei.csv")
weatherTP[:5]

,CST,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,01/01/2016,22,19,16,16,14,10,88,73,63,...,10,9,6,34,24,NaN,0,4,NaN,100
1,02/01/2016,20,19,18,16,16,14,88,81,73,...,10,5,3,14,5,NaN,0,6,Rain,175
2,03/01/2016,20,19,18,18,17,16,94,87,83,...,10,5,1,14,6,NaN,0,6,Rain,107
3,04/01/2016,23,21,19,19,18,17,94,83,73,...,10,7,5,13,6,NaN,0,6,Rain,275
4,05/01/2016,24,21,19,20,18,16,94,86,73,...,10,6,2,19,8,NaN,0,6,Rain,104

In [71]:
weatherTP.columns = ['CST', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC',
       'Dew PointC', 'MeanDew PointC', 'Min DewpointC', 'Max Humidity',
       'Mean Humidity', 'Min Humidity', 'Max Sea Level Pressure',
       'Mean Sea Level PressurehPa', 'Min Sea Level PressurehPa',
       'Max VisibilityKm', 'Mean VisibilityKm', ' Min VisibilitykM',
       'MaxWindSpeedKmh', 'MeanWindSpeedKmh', 'Max Gust SpeedKm/h',
       'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees']

In [72]:
weatherTP.drop(['Max TemperatureC','Mean TemperatureC', 'Min TemperatureC','Dew PointC', 'MeanDew PointC', 'Min DewpointC', 'Max Humidity','Mean Humidity', 'Min Humidity', 'Max Sea Level Pressure', 'Mean Sea Level PressurehPa', 'Min Sea Level PressurehPa'], axis=1, inplace=True)

In [75]:
weatherTP["Sunny"] = weatherTP.CloudCover.map(lambda x: 1 if x <= 4 else 0)

In [76]:
weatherTP["Windy"] = weatherTP.MeanWindSpeedKmh.map(lambda x: 1 if x >= 24 else 0)

In [78]:
weatherTP["Rainy"] = weatherTP.Events.map(lambda x: 1 if "Rain" in str(x) else 0)

In [79]:
weatherTP["Cloudy"] = weatherTP.CloudCover.map(lambda x: 1 if x >= 3 else 0)

In [85]:
weatherParsed = weatherTP[["CST","Sunny","Windy","Rainy","Cloudy"]]

In [ ]:
weatherParsed